*{
    margin: 0;
    padding: 0;   
}
body{
    font-family: 'Roboto', sans-serif;
}
ul li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 90%;
}

.banner{
    position: relative;
    background-image: url("../Assets/images/banner.jpg");
    background-size: cover;
}
.header {
    position: relative;
    color: white;
    /* padding: 30px 0px; */
}
.header-top{
    padding: 30px 0px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
}

.right ul{
    display: flex;
    justify-content: space-around;
}
.right ul li{
    padding-top: 15px;
    margin: 0px 10px;
}
.right .menu-btn{
    position: absolute;
    right: 10px;
    top: 15px;
    border: none;
    display: none;
    background-color: transparent;
}
.right .menu-btn .line{
    display: block;
    border: 2px solid white;
    width: 25px;
    margin-bottom: 4px;
    transition: 0.5s;
}
#check{
    position: absolute;
    top: 15px;
    right: 11px;
    display: block;
    height: 17px;
    width: 35px;
    opacity: 0;
    cursor: pointer;
}

/* .list {
    display: inline-block;
    margin-right: 25px;
}
.list:last-child {
    margin-right: 0px;
} */
.header-bottom {
    padding: 50px 0px;
    text-align: center;
}
.header-bottom h1 {
    font-size: 50px;
}
.features {
    margin: 40px 0px;
}
.ftr-card {
    border-right: 1px solid;
    padding: 0px 28px;
    display: inline-block;
}
.ftr-card:last-child {
    border: none;
}
.symbol {
    color: #55cc8f;
    font-size: 29px;
}
h4.ftr-name {
    font-weight: 700;
    margin: 5px 0px;
}
.ftr-info p {
    font-size: 14px;
    font-weight: 500;
    color: #aca9b4;
}
.btn {
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 10px;
    color: #55cc8f;
    font-weight: 600;
    cursor: pointer;
    background: transparent;
    border: 2px solid #55cc8f;
}
.btn:active{
    border: 2px solid white;
    color: white;

}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5a5367;
    opacity: 0.7;
}

.article-body {
    display: flex;
    margin-bottom: 50px;
}
.article {
    text-align: center;
    padding: 50px 94px;
}
.snap {
    display: inline-block;
    width: 40%;
}
.snap img {
    width: 100%;
    border-radius: 100%;
}
.article-name{
    margin: 10px 0px;
    font-weight: 500;
    color: #565656;
}
.article-info {
    color: #aca9b4;
    margin: 30px 0px;
    font-weight: 500;
}
.article-btn {
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 10px;
    color: #55cc8f;
    font-weight: 600;
    background: transparent;
    border: 2px solid #55cc8f;
}

.getInTouch {
    background-color: #5acd91;
    padding: 60px 0px;
}
.form-name {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
}
.form-first {
    display: flex;
    justify-content: space-between;
}
.form-line {
    width: 47%;
    display: inline-block;
}

label {
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.form-line input {
    display: block;
    margin: 10px 0px;
    color: #9be1bb;
    font-weight: 700;
    border-radius: 5px;
    background: transparent;
    width: 98%;
    padding: 10px 0px 10px 10px;
    border: 1px solid #9be1bb;
}

.form-textarea textarea {
    width: 100%;
    height: 150px;
    display: block;
    color: #9be1bb;
    background: transparent;
    border: 1px solid #9be1bb;
    border-radius: 5px;
    margin: 15px 0px;

}
.form-btn{
    text-align: center;
    margin: 30px 0px 40px 0px;
}
input[type="submit"] {
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    padding: 12px 35px;
    font-weight: 600;
}
.footer{
    text-align: center;
    color: white;
    font-size: 12px;
}

@media(max-width:768px){
    .header-top {
        font-size: 0.80rem;
        padding: 25px 0px;
    }

    .right ul{
        display: block;
        left: 0px;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        width: 100%;
        top: 75px;
        text-align: center;
        transform: scale(1,0);
        transition: 1s;
        transform-origin: top;
    }
    .right .menu-btn{
        display: block;
        position: static
    }
    #check{
        right: -4px;
        top: 23px;
        height: 25px;
    }
    #check:checked ~ ul{
        transform: scale(1,1);
    }
    /* #check:checked ~ .menu-btn .line:first-child{
        transform: rotate(45deg);
    }
    #check:checked ~ .menu-btn .line:last-child{
        transform: rotate(-45deg);
        margin-top: -16px;
    }
    #check:checked ~ .menu-btn .line:nth-child(2){
        opacity: 0;
    } */

    /* .list {
        display: inline-block;
        margin-right: 10px;
    } */
    .header-bottom {
        padding: 50px 0px;
        text-align: center;
    }
    .header-bottom h1 {
        font-size: 37px;
    }
    .features {
        margin: 30px 0px;
    }
    .ftr-card {
        border-right: 1px solid;
        padding: 0px 5px;
        display: inline-block;
    }
    .symbol {
        color: #55cc8f;
        font-size: 25px;
    }
    h4.ftr-name {
        font-size: 13px;
        font-weight: 700;
        margin: 5px 0px;
    }
    .ftr-info p {
        font-size: 0.7rem;
        font-weight: 500;
        color: #aca9b4;
    }
    .article-body {
        display: block;
        margin-bottom: 50px;
    }
    .form-first {
        display: block;
    }
    .form-line {
        width: 100%;
        display: block;
    }
    .form-line input {
        display: block;
        margin: 10px 0px;
        width: 98%;
        padding: 10px 0px 10px 10px;
    }

}
@media(max-width:480px){
    .header-top {
        font-size: 0.60rem;
        padding: 23px 0px;
    }    
    .list {
        display: block;
        margin-right: 8px;
    }  
    .right ul{
        top: 71px;
    }  
    .right ul li{
        padding: 15px 0px;
    }
    .header-bottom h1 {
        font-size: 25px;
    }
    .ftr-card {
        margin-bottom: 10px;
        border-right: none;
        padding: 0px 5px;
        display: block;
    }
    .article {
        text-align: center;
        padding: 46px 0px;
    }
    .article-name {
        font-size: 1.1rem;
        
    }
}
