.anime{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    animation-name: opacity;
    animation-delay: 3s;
    animation-iteration-count: 2;
    animation-duration: 4s;
}
@keyframes opacity{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}